<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">GIPHY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Reactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Stickers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">...</a>
          </li>
        </ul>
        <div class="upload">
            <button class="btn-upload">Upload</button>
            <button class="btn-upload">Create</button>
        </div>
        <div class="profile">
            <i class="fas fa-user-circle"></i>
            <button class="login">Log In</button>
        </div>  
      </div>

    </div>
  </nav>
